ul,
ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: 700;
}

dd {
	margin: 0 1.5em 1.5em;
}

.entry-content {
	ol,
	ul:not(.alignfull):not(.alignwide):not(.wp-block-gallery):not(.blocks-gallery-grid):not(.products):not(.wc-block-grid__products) {
		margin-left: 1.5em;
	}

	ol,
	ul {
		margin-bottom: 1.5em;

		li {
			line-height: 1.4;
			padding-bottom: .5em;
		}
	}

	ol > li {
		list-style-type: decimal;
	}

	ul > li {
		list-style-type: disc;
	}

	ol ol,
	ul ul {
		margin-top: .5em;
		margin-bottom: 0;

		li:last-child {
			padding-bottom: 0;
		}
	}

	dt {
		font-weight: $font__weight-bold;
	}

	dd {
		margin: 0 1em 1em;
	}
}
