/* HIDE TITLE on Testimonials page */
//.page-id-79 h1.entry-title {
//   display:none;
//}

.testimonial {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-style: italic;
    padding-bottom: 1em;
    margin: 1em 0 ;
}

.testimonial h3,
.testimonial cite  {
    font-style: normal;
}
.testimonial cite  {
    display: block;
    font-size: 16px;
    margin-top: 10px;
}

.testimonial cite:before {
    content: '- ';
}