.search-form,
.wp-block-search {
	background: transparent;
	clear: both;
	position: relative;

	input[type="search"] {
		display: inline-block;
	}

	input[type="submit"],
	.wp-block-search__button {
		text-indent: -9999px;
		line-height: 1;
		color: $color__base;
		margin: 10px 8px 8px 10px;
		width: 30px;
		height: 29px;
		background: transparent;
		background-image: url( '../img/search-icon.svg' );
		background-repeat: no-repeat;
		border: 0;

		&:hover,
		&:focus {
			opacity: .5;
		}
	}
}

.search-form label {
	float: left;
	width: calc(100% - 50px);
}
